<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="
				lib;
				lib\gtk-sharp-2.0;lib\Mono.Cairo;
				lib\Mono.Posix;lib\gtk-2.0\2.10.0\engines;
				lib\gtk-2.0\2.10.0\loaders;
				lib\gtk-2.0\modules" />
		</assemblyBinding>
	</runtime>
</configuration>